<!DOCTYPE html>
<html ng-app lang="pt-br">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body ng-controller="FilmesController">
  <h1>Bem vindo ao treinamento de MEAN Stack do Alura!</h1>

  <ul>
    <li ng-repeat="filme in filmes">
      <a href="#" ng-click="mostraFilme(filme)">
        {{ filme.titulo }}
      </a>
    </li>
    <div ng-if="filmeSelecionado">
      <dl>
        <dt>Título:</dt>
          <td>{{ filmeSelecionado.titulo }}</td>
          <dt>Diretor:</dt>
          <td>{{ filmeSelecionado.diretor }}</td>
          <dt>Ano:</dt>
          <td>{{ filmeSelecionado.ano }}</td>
        </dl>
        <a href="" ng-click="deletaFilme(filmeSelecionado)">Deletar o filme {{ filmeSelecionado.titulo }}</a>
      </div>
  </ul>

  <form ng-submit="adicionaFilme()">
    Título: <input ng-model="filme.titulo">
    Diretor: <input ng-model="filme.diretor">
    Ano: <input ng-model="filme.ano">
    <button type="submit">Enviar</button>
  </form>

  <script src="js/angular.min.js"></script>
  <script src="js/controller/FilmesController.js"></script>
</body>
</html>
