<!DOCTYPE html>
<html ng-app lang="pt-br">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body ng-controller="FilmesController">
  <h1>Bem vindo ao treinamento de MEAN Stack do Alura!</h1>

  <p>{{ filme }}</p>

  <script src="js/angular.min.js"></script>
  <script src="js/controller/FilmesController.js"></script>
</body>
</html>
